@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
* {
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  padding: 0px;
   font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}
header .nav-bar {
  background: #30362F;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;

}
.logo h2 {
/*    */
  font-size: 30px;
}
.logo h2 a {
    text-decoration: none;
} 
.ul-list {
    display: flex;
}
.ul-list li {
    list-style: none;
    margin-left: 20px;
}
.ul-list li a {
    font-size: 13px;
    text-decoration: none;
}
/* Menu-bar */ 
#menu-bar {
    font-size: 30px;
    color: #fff;
    display: none;
}
@media (max-width: 601px) {
    #menu-bar {
        display: block;
    }
    .side-bar {
        display: block;
    }
    header .nav-bar {
        justify-content: space-between;
        padding: 0px 30px;
    }
    .logo h2 {
        font-size: 20px;
    }
}
/* Side bar */
.side-bar {
    /*  */
    background-color: #fff;
    display: none;
}
.side-bar .side-ul {
    opacity: 1;
}
.side-ul li {
    list-style: none;
    padding: 10px 5px;
}
.side-ul li a {
    text-decoration: none;
    font-size: 13px;
}

/* Hero Section */
.hero {
    background: #0A014F;
    height: 400px;
}
.hero center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    padding: 0px 20px;
}
center h1 {
    font-size: 30px;
}
center p {
    font-size: 12px;
    max-width: 630px;
}
/* Counting section */
.counter-sec {
    height: 100%;
    background-color: #30362F;
}
.counter-sec center {
    /*  */
}
center .output {
    font-size: 10rem;
    padding-top: 20px;
}

center .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 40vh;
    padding: 0px 20px;

}
/* Media querries */
@media (max-width: 601px) {
    .nav-bar ul {
        display: none;
    }
    center .output {
        font-size: 4rem;
    }
    .hero center {
    height: 50vh; 
}
}
/* Button */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Footer */
footer {
    background-color: #0A014F;
    display: flex;
    justify-content: space-around;
}
footer .footer-logo h2 {
    font-size: 30px;
}
.footer-list h3 {
    font-size: 30px;
}
.footer-list ul {
    margin: normal;
}
.footer-list ul li {
    list-style: none;
    padding: 10px 0px;
}
.footer-list ul li a {
    color: #fff;
    font-size: 30px;
}
@media (max-width: 601px) {
    footer {
        flex-direction: column;
    }
}